.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;

  &__product-card {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  &__product-card-image {
    max-width: 100%;
  }
}
