.change-quantity-buttons {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid #818181;
    border-radius: 50%;
    background-color: #fff;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
