.internet-shop {
  box-sizing: border-box;

  &-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px 40px;
  }
}

.shopping-cart {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 18px;

  &__list-wrapper {
  }
}
